<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="com.blendstudy.jump.mapper.IndexMapper">
    <select id="getCsutomerList" resultType="com.blendstudy.jump.entity.IndexEntity">
        select pmaa001 AS custno ,pmaa002 AS type from pmaa_t where pmaaent = 7 and pmaa001=#{custno}
    </select>

    <select id="getCsutomerList2" resultType="com.blendstudy.jump.entity.IndexEntity">
        select pmaa001 AS custno ,pmaa002 AS type from pmaa_t where pmaaent = 7 and pmaa001=#{custno}
    </select>
</mapper>